cloudinary==1.4.0
dj-database-url==0.4.1
Django==1.9.8
django-crispy-forms==1.6.0
gunicorn==19.6.0
pyasn1==0.1.9
pyasn1-modules==0.0.8
requests==2.10.0
rsa==3.4.2
simplejson==3.8.2
six==1.10.0
uritemplate==0.6
whitenoise==3.2
