<head>
    {% load static %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/fuse/2.5.0/fuse.min.js"></script>
    <script type="text/javascript" src="{% static 'luarbiasa/mall.js' %}"></script>
</head>
<body>
    <h1>Test Ajax</h1>
    <form id="myForm">
        
        <label> Location: </label>
        <input id="location" type="text" style="width: 250px" value="MALL_KELAPA_GADING"/>
        <select id="location_select">
            <option value=""></option>
            {% for value, display in location_choices_obj %}
               <option value="{{value}}">{{display}}</option>
            {% endfor %}
        </select><br />
        <input id="submit" type="submit" />
    </form>
    <input id="demo" type="text" style="width: 250px" placeholder="autosuggestion demo"/>
    <pre id="demo_result"></pre>
    <div
        <h4> Returned JSON: </h4>
        <pre id="result"></pre>
    </div>
<body>
<script>
    var mall = getMall()["jakarta"]
    var options = {
      shouldSort: true,
      tokenize: true,
      threshold: 0.4, //0.0 perfect - 1.0 non-perfect
      location: 0,
      distance: 100,
      maxPatternLength: 32,
      keys: ["location"]
    };
    var fuse = new Fuse(mall, options);

    $('#demo').bind('input', function(){
    $('#demo_result').html("")
    var result_arr = fuse.search($(this).val());
    var result = []
    $('#demo_result').append("<h5>Total match: " + result_arr.length + " </h5>")
        for (var obj in result_arr){
            $('#demo_result').append("<ul> "+ result_arr[obj]["location"] + "</ul>")
        }
    });
    $("#location_select").change( function(){
        $("#location").val($(this).val())
    })
    $( "#myForm" ).submit(function( event ) {
        console.log('onsubmit')
        var location_input = $('#location').val()
        $.get( "getDealsByLocation",
            {'location': location_input},
            function( data ) {
                $( "#result" ).html( JSON.stringify(data, null, 4) );
                console.log('finished loading')
            });
        event.preventDefault();
    });
</script>